Repository djzelenak/espa-worker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_base, docker_external

docker_base:
  script:
  - make build_base
  - make test_base
  - make deploy_base
  tags:
  - docker
  - eros
  - lsrd

docker_external:
  script:
  - make build_external
  - make test_external
  - make deploy_external
  tags:
  - docker
  - eros
  - lsrd

images go directly to lsrd/espa-worker now
  Makefile
Due: docker_base, docker_external

use stages
  .gitlab-ci.yml
  Makefile
  external/Dockerfile.centos7
Due: docker_base, docker_external

try using explicit registry
  external/Dockerfile.centos7
Due: docker_external

try login
  .gitlab-ci.yml
  Makefile
Due: docker_base, docker_external

use netcdf-c v4.4.1.1 to try to fix this issue
  external/Dockerfile.centos7
Due: docker_external

fix netcdf4 version
  external/Dockerfile.centos7
Due: docker_external

bump version in version.txt
  version.txt
Due: none

add science targets to Makefile
  Makefile
Due: docker_base, docker_external

trigger new builds
  .gitlab-ci.yml
Due: none

use correct base tag
  external/Dockerfile.centos7
Due: docker_external

specify what needs to change to trigger a science build
  .gitlab-ci.yml
Due: none

more info about whats going on
  CHANGELOG.md
Due: none

minimize layers and include hdfeos5
  external/Dockerfile.centos7
Due: docker_external

build and install curl and idn libraries from source
  external/Dockerfile.centos7
Due: docker_external

change to stages to keep external build separate
  .gitlab-ci.yml
Due: none

fix missing only changes
  .gitlab-ci.yml
Due: none

remove stage
  .gitlab-ci.yml
Due: none

minor change
  .gitlab-ci.yml
Due: none

include libcurl-devel and libidn-devel
  external/Dockerfile.centos7
Due: docker_external

add some missing env vars
  external/Dockerfile.centos7
Due: docker_external

reorganization
  .gitlab-ci.yml
  Makefile
  docker_base_os/Dockerfile.centos7
  docker_build_env/Dockerfile.centos7
  docker_worker/Dockerfile.in
  docker_worker/set_espa_versions.sh
Due: docker_base, docker_external

start to set up new playbook
  playbook/espa-worker/tasks/espa-software.yml
  playbook/espa-worker/vars/main.yml
Due: none

fix Dockerfile
  docker_build_env/Dockerfile.centos7
Due: none

use better file names
  docker_base_os/Dockerfile.base
  docker_build_env/Dockerfile.build
Due: none

updates for new file names
  Makefile
  docker_base/Dockerfile.base
  docker_build/Dockerfile.build
Due: docker_base, docker_external

replace usage of 'external' with 'builder'
  .gitlab-ci.yml
  Makefile
Due: docker_base, docker_external

minor fixes
  Makefile
Due: docker_base, docker_external

bad idea
  docker_worker/Dockerfile.in
Due: none

minor reorg
  docker_worker/Dockerfile.in
  docker_worker/Dockerfile.worker
  docker_worker/set_espa_versions.sh
Due: none

build the worker
  .gitlab-ci.yml
  Makefile
  docker_worker/Dockerfile.worker
  playbook/espa-worker/tasks/espa-software.yml
  playbook/espa-worker/tasks/main.yml
  playbook/espa-worker/vars/main.yml
Due: docker_base, docker_external

yum clean all
  docker_base/Dockerfile.base
  docker_build/Dockerfile.build
Due: none

only run
  .gitlab-ci.yml
Due: none

add phony stuff
  Makefile
Due: docker_base, docker_external

added missing double quotes
  Makefile
Due: docker_base, docker_external

change only conditions
  .gitlab-ci.yml
Due: none

use make built in shell
  Makefile
Due: docker_base, docker_external

fix Makefile pointing to wrong Dockerfile
  Makefile
Due: docker_base, docker_external

fix error in playbook
  playbook/espa-worker/tasks/main.yml
Due: none

remove tags from play call
  docker_worker/Dockerfile.worker
Due: none

download source code first
  docker_worker/Dockerfile.worker
  playbook/espa-worker/tasks/espa-software.yml
  playbook/espa-worker/tasks/espa-source.yml
  playbook/espa-worker/tasks/main.yml
Due: none

Path conditions:
  docker_base: any of: base/Dockerfile.centos7, Makefile
  docker_external: any of: external/Dockerfile.centos7, Makefile
