Repository djzelenak/espa-worker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: base, builder, worker

.gitlab-ci.yml:

image: docker:19.03.1

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  GIT_SSL_NO_VERIFY: "1"

services:
  - docker:19.03.1-dind

before_script:
  - apk add make git

stages:
  - base
  - builder
  - worker

base:
  stage: base
  script:
    - make build_base
    - make test_base
    - make deploy_base
  only:
    changes:
      - docker_base/Dockerfile.base
      - version.txt
  tags:
    - docker
    - eros
    - lsrd

builder:
  stage: builder
  script:
    - make build_builder
    - make test_builder
    - make deploy_builder
  only:
    changes:
      - docker_build/Dockerfile.build
      - version.txt
  tags:
    - docker
    - eros
    - lsrd

worker:
  stage: worker
  script:
    - make build_worker
    - make test_worker
    - make deploy_worker
  only:
    changes:
      - docker_worker/Dockerfile.worker
      - version.txt
      - processing/*
      - playbook/**/*
      - setup/requirements.txt
      - Makefile
  tags:
    - docker
    - eros
    - lsrd

try to save time and space
  docker_worker/Dockerfile.worker
Due: worker

additional updates to support worker image CI/CD - use correct path in test_worker - remove espa dependencies from playbook since they install in builder
  Makefile
  playbook/espa-worker/tasks/espa-software.yml
Due: worker

A few minor changes to help performance - fix spelling error to remove spectral-indices source code - try to clear the /var/cache/yum dir
  docker_worker/Dockerfile.worker
  playbook/espa-worker/tasks/espa-software.yml
Due: worker

clear yum cache properly
  docker_worker/Dockerfile.worker
Due: worker

DEBUG: space issues
  docker_worker/Dockerfile.worker
Due: worker

Update README.md
  README.md
Due: none

cleanup some stuff
  Makefile
  docker_worker/Dockerfile.worker
Due: worker

still dealing with space issues
  docker_worker/Dockerfile.worker
Due: worker

try again
  docker_worker/Dockerfile.worker
Due: worker

updated README
  README.md
Due: none

try adding merge request pipeline
  .gitlab-ci.yml
Due: none

fix gitlab ci file
  .gitlab-ci.yml
Due: none

add missing login for test_worker target
  Makefile
Due: worker

update merge pipeline
  .gitlab-ci.yml
Due: none

Update Dockerfile.build
  docker_build/Dockerfile.build
Due: builder

Update Dockerfile.worker
  docker_worker/Dockerfile.worker
Due: worker
